<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie - <%= movie.title%></title>
</head>
<body>
    <div>
        <div><%= movie.title%></div>
        <div><%= movie.year%></div>
        <div><%= movie.duration%></div>
        <img src="<%= movie.imageUrl%>" alt="" width="200px">
        <a href="/delete-movie/<%= movie._id%>">Delete Movie</a>
    </div>
</body>
</html>